SEMAPHORE_ADMIN=admin
SEMAPHORE_ADMIN_NAME=Juanma
SEMAPHORE_ADMIN_EMAIL=admin@localhost
SEMAPHORE_ADMIN_PASSWORD=change-me-now

# Genera una real con:
# head -c32 /dev/urandom | base64
SEMAPHORE_ACCESS_KEY_ENCRYPTION=replace-with-32-byte-base64-key

TZ=Europe/Madrid
